@page "/producers"
@using Konefeld.Kopiec.VodkaApp.UI.WEB.Models.ViewModels
@using Konefeld.Kopiec.VodkaApp.UI.WEB.Services
@using Konefeld.Kopiec.VodkaApp.Interfaces
@using Konefeld.Kopiec.VodkaApp.UI.WEB.Models.Dto
@using Konefeld.Kopiec.VodkaApp.Core
@inject ProducerService ProducerService
@inject NavigationManager Navigation

<PageTitle>Producers</PageTitle>

<h1>Producers</h1>

<form @onsubmit="AddProducer">
    <div class="row mb-3">
        <div class="col-xs-12 col-md-3">
            <div class="form-group">
                <label for="name">*Name:</label>
                <input id="name" class="form-control" @bind="_newProducer.Name" required />
            </div>
        </div>

        <div class="col-xs-12 col-md-3">
            <div class="form-group">
                <label for="countryOfOrigin">*Country of origin:</label>
                <input id="countryOfOrigin" class="form-control" @bind="_newProducer.CountryOfOrigin" required/>
            </div>
        </div>
        
        <div class="col-xs-12 col-md-3">
            <div class="form-group">
                <label for="establishmentYear">*Establishment year:</label>
                <input id="establishmentYear" class="form-control" @bind="_newProducer.EstablishmentYear" type="number" min="0" step="1" required />
            </div>
        </div>

        <div class="col-xs-6 col-md-3">
            <div class="form-group">
                <label for="type">*Export status:</label>
                <select id="type" class="form-control" @bind="_newProducer.ExportStatus" required>
                    <option value="@ProducerExportStatus.DomesticOnly">@ProducerExportStatus.DomesticOnly.ToPrettyString()</option>
                    <option value="@ProducerExportStatus.GlobalExport">@ProducerExportStatus.GlobalExport.ToPrettyString()</option>
                    <option value="@ProducerExportStatus.RegionalExport">@ProducerExportStatus.RegionalExport.ToPrettyString()</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="form-group">
            <label for="description">*Description:</label>
            <textarea id="description" class="form-control" @bind="_newProducer.Description" maxlength="300" required>
            </textarea>
        </div>
    </div>

    <button type="submit" class="btn btn-primary mb-3">Add Producer</button>

</form>

@if (_producers.Count == 0)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table" style="table-layout: auto">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Country of origin</th>
                <th>Establishment year</th>
                <th>Export status</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var producer in _producers)
            {
                <tr>
                    <td>@producer.Name</td>
                    <td>@producer.Description</td>
                    <td>@producer.CountryOfOrigin</td>
                    <td>@producer.EstablishmentYear</td>
                    <td>@producer.ExportStatus</td>
                    <td>
                        <button class="btn btn-outline-primary" @onclick="() => GoToEditProducer(producer.Id)">
                            <i class="oi oi-pencil" aria-hidden="true"></i>
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-outline-danger" @onclick="() => DeleteProducer(producer.Id)">
                            <i class="oi oi-circle-x" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IList<ProducerViewModel> _producers = new List<ProducerViewModel>();
    private IProducerDto _newProducer = new ProducerDto();

    protected override void OnInitialized()
    {
        _producers = ProducerService.GetProducers();
    }

    private void AddProducer()
    {
        var id = ProducerService.CreateProducer(_newProducer);
        _newProducer = new ProducerDto();
        _producers = ProducerService.GetProducers();
    }

    private void DeleteProducer(int id)
    {
        var success = ProducerService.DeleteProducer(id);
        _producers = ProducerService.GetProducers();
    }

    private void GoToEditProducer(int id)
    {
        Navigation.NavigateTo($"/producers/{id}");
    }
}
